<footer>
  <p>© 2024 Alfakih Anggi Subekti. All rights reserved.</p>
</footer>

<style>
  footer {
    margin-bottom: 20px;
  }
  p {
    color: #575758;
    font-size: 16px;
    text-align: center;
  }
</style>
