---
import { SEO } from "astro-seo";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Anggi's Portfolio</title>

    <SEO
      title="Alfakih Anggi Subekti - Front-End Developer"
      description="Alfakih Anggi Subekti is a passionate Front-End Developer who specializes in creating functional and visually appealing web applications. Explore his portfolio and connect via social media."
      openGraph={{
        basic: {
          title: "Alfakih Anggi Subekti - Front-End Developer",
          type: "website",
          image: "https://avatars.githubusercontent.com/u/94790954?v=4", // Ganti dengan gambar relevan kamu
        },
      }}
      twitter={{
        creator: "@fakikazorla",
        card: "summary_large_image", // Supaya tampilan Twitter lebih besar dan menarik
      }}
      extend={{
        // Add custom meta tags for contact and social links
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://avatars.githubusercontent.com/u/94790954?v=4", // Ganti dengan gambar relevan
          },
          {
            name: "twitter:title",
            content: "Alfakih Anggi Subekti - Front-End Developer",
          },
          {
            name: "twitter:description",
            content: "Explore my web development projects and connect with me!",
          },
          // Social Media meta tags
          { name: "twitter:creator", content: "@fakikazorla" },
          { name: "og:email", content: "fakihkazorla@gmail.com" },
          { name: "og:github", content: "https://github.com/arufaki" },
          {
            name: "og:linkedin",
            content: "https://www.linkedin.com/in/alfakihanggi/",
          },
          { name: "og:twitter", content: "https://x.com/fakikazorla" },
        ],
      }}
    />
  </head>
  <body class="container">
    <slot />
  </body>
</html>

<script>
  const hamburger = document.querySelector(".hamburger");
  const main = document.querySelector("main");
  const nav = document.querySelector("nav");

  hamburger?.addEventListener("click", () => {
    if (main) {
      if (nav?.classList.contains("active")) {
        main.style.marginTop = "150px";
      } else {
        main.style.marginTop = "0px";
      }
    }
  });
</script>
